USE [master]
GO
/****** Object:  Database [CCAM]    Script Date: 06/03/2026 8:21:01 pm ******/
CREATE DATABASE [CCAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CCAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CCAM.mdf' , SIZE = 7360KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CCAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CCAM_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CCAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CCAM]
GO
/****** Object:  Schema [Identity]    Script Date: 06/03/2026 8:21:01 pm ******/
CREATE SCHEMA [Identity]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Biller]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BillerCode] [nvarchar](max) NULL,
	[BillerName] [nvarchar](max) NULL,
	[AcctNo1] [nvarchar](max) NULL,
	[AcctNo2] [nvarchar](max) NULL,
 CONSTRAINT [PK_Biller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Configs]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DBName] [nvarchar](max) NULL,
	[DBUID] [nvarchar](max) NULL,
	[DBPass] [nvarchar](max) NULL,
	[DBPKey] [nvarchar](max) NULL,
	[DBIV] [nvarchar](max) NULL,
	[DLFolder] [nvarchar](max) NULL,
	[ULFolder] [nvarchar](max) NULL,
	[SFTPIP] [nvarchar](max) NULL,
	[SFTPPath] [nvarchar](max) NULL,
	[SFTPUID] [nvarchar](max) NULL,
	[SFTPPass] [nvarchar](max) NULL,
	[SFTPKey] [nvarchar](max) NULL,
	[SFTPIV] [nvarchar](max) NULL,
	[UARMFTIP] [nvarchar](max) NULL,
	[UARMFTPath] [nvarchar](max) NULL,
	[UARMFTUID] [nvarchar](max) NULL,
	[UARMFTPass] [nvarchar](max) NULL,
	[UARMFTPKey] [nvarchar](max) NULL,
	[UARMFTPIV] [nvarchar](max) NULL,
 CONSTRAINT [PK_Configs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Detail]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Detail](
	[FILENAME] [nvarchar](50) NULL,
	[RType] [nvarchar](1) NULL,
	[TType] [nvarchar](2) NULL,
	[AcctNo] [nvarchar](16) NULL,
	[BrCode] [nvarchar](4) NULL,
	[TCode] [nvarchar](5) NULL,
	[TDate] [nvarchar](8) NULL,
	[DCFlag] [nvarchar](1) NULL,
	[VDate] [nvarchar](8) NULL,
	[TCurr] [nvarchar](5) NULL,
	[AmtLCurr] [nvarchar](14) NULL,
	[AmtTCurr] [nvarchar](14) NULL,
	[ConvRate] [nvarchar](8) NULL,
	[RefNo] [nvarchar](40) NULL,
	[DocNo] [nvarchar](12) NULL,
	[TDesc] [nvarchar](40) NULL,
	[BenIC] [nvarchar](16) NULL,
	[BenName] [nvarchar](120) NULL,
	[BenAdd1] [nvarchar](35) NULL,
	[BenAdd2] [nvarchar](35) NULL,
	[BenAdd3] [nvarchar](35) NULL,
	[City] [nvarchar](35) NULL,
	[State] [nvarchar](35) NULL,
	[Country] [nvarchar](35) NULL,
	[ZipCode] [nvarchar](35) NULL,
	[OptFlag] [nvarchar](2) NULL,
	[IssuerCode] [nvarchar](5) NULL,
	[PayBranch] [nvarchar](4) NULL,
	[FDFlag] [nvarchar](1) NULL,
	[MISCode] [nvarchar](5) NULL,
	[PFlag] [nvarchar](1) NULL,
	[RFlag] [nvarchar](2) NULL,
	[UDT1] [nvarchar](60) NULL,
	[UDT2] [nvarchar](60) NULL,
	[UDT3] [nvarchar](60) NULL,
	[UDT4] [nvarchar](60) NULL,
	[ConvertedFlag] [nvarchar](1) NULL,
	[PostedFlag] [nvarchar](1) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Footer]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Footer](
	[FILENAME] [nvarchar](50) NULL,
	[RType] [nvarchar](1) NULL,
	[NoDeb] [nvarchar](9) NULL,
	[DebCtr] [int] NULL,
	[TotalD] [nvarchar](15) NULL,
	[NoCre] [nvarchar](9) NULL,
	[CreCtr] [int] NULL,
	[TotalC] [nvarchar](15) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Header]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Header](
	[FILENAME] [nvarchar](50) NULL,
	[Header] [nvarchar](50) NULL,
	[Converted] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [Identity].[Role]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[Role](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[RoleClaims]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[User]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Identity].[User](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[EmpId] [nvarchar](max) NULL,
	[RoleName] [nvarchar](max) NULL,
	[UsernameChangeLimit] [int] NOT NULL,
	[ProfilePicture] [varbinary](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Identity].[UserClaims]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[UserLogins]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Identity].[UserRoles]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Identity].[UserTokens]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[UserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 06/03/2026 8:21:01 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [Identity].[Role]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleClaims_RoleId]    Script Date: 06/03/2026 8:21:01 pm ******/
CREATE NONCLUSTERED INDEX [IX_RoleClaims_RoleId] ON [Identity].[RoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [EmailIndex]    Script Date: 06/03/2026 8:21:01 pm ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [Identity].[User]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 06/03/2026 8:21:01 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [Identity].[User]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserClaims_UserId]    Script Date: 06/03/2026 8:21:01 pm ******/
CREATE NONCLUSTERED INDEX [IX_UserClaims_UserId] ON [Identity].[UserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserLogins_UserId]    Script Date: 06/03/2026 8:21:01 pm ******/
CREATE NONCLUSTERED INDEX [IX_UserLogins_UserId] ON [Identity].[UserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 06/03/2026 8:21:01 pm ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [Identity].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Identity].[RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [Identity].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[RoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Role_RoleId]
GO
ALTER TABLE [Identity].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_User_UserId] FOREIGN KEY([UserId])
REFERENCES [Identity].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[UserClaims] CHECK CONSTRAINT [FK_UserClaims_User_UserId]
GO
ALTER TABLE [Identity].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_User_UserId] FOREIGN KEY([UserId])
REFERENCES [Identity].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_User_UserId]
GO
ALTER TABLE [Identity].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [Identity].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role_RoleId]
GO
ALTER TABLE [Identity].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User_UserId] FOREIGN KEY([UserId])
REFERENCES [Identity].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User_UserId]
GO
ALTER TABLE [Identity].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_User_UserId] FOREIGN KEY([UserId])
REFERENCES [Identity].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_User_UserId]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUpdateDetail]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddUpdateDetail]

	(	 
      @FNAME  char(50),
      @RType  char(1),
      @TType  char(2),
      @AcctNo  char(16),
      @BrCode  char(4),
      @TCode  char(5),
      @TDate  char(8),
      @DCFlag  char(1),
      @VDate  char(8),
      @TCurr  char(5),
      @AmtLCurr  char(14),
      @AmtTCurr  char(14),
      @ConvRate  char(8),
      @RefNo  char(40),
      @DocNo  char(12),
      @TDesc  char(40),
      @BenIC  char(16),
      @BenName  char(120),
      @BenAdd1  char(35),
      @BenAdd2  char(35),
      @BenAdd3  char(35),
      @City  char(35),
      @State  char(35),
      @Country  char(35),
      @ZipCode  char(35),
      @OptFlag  char(2),
      @IssuerCode  char(5),
      @PayBranch  char(4),
      @FDFlag  char(1),
      @MISCode  char(5),
      @PFlag  char(1),
      @RFlag  char(2),
	  @UDT1 char(60),
	  @UDT2 char(60),
	  @UDT3 char(60),
      @UDT4 char(60),
	  @ConvertedFlag char(1),
	  @PostedFlag char(1)
	)
	
AS
	/*
	IF EXISTS (SELECT  * FROM [dbo].[tbl_Detail] WHERE [FILENAME] = @FNAME AND [AcctNo] = @AcctNo)
    /* UPDATE*/ 
                            UPDATE [dbo].[tbl_Detail]
							   SET [FILENAME] = @FNAME      
								  ,[RType] = @RType     
								  ,[TType] = @TType     
								  ,[AcctNo] = @AcctNo      
								  ,[BrCode] = @BrCode     
								  ,[TCode] = @TCode     
								  ,[TDate] = @TDate     
								  ,[DCFlag] = @DCFlag     
								  ,[VDate] = @VDate     
								  ,[TCurr] = @TCurr     
								  ,[AmtLCurr] = @AmtLCurr      
								  ,[AmtTCurr] = @AmtTCurr      
								  ,[ConvRate] = @ConvRate     
								  ,[RefNo] = @RefNo      
								  ,[DocNo] = @DocNo      
								  ,[TDesc] = @TDesc      
								  ,[BenIC] = @BenIC      
								  ,[BenName] = @BenName       
								  ,[BenAdd1] = @BenAdd1       
								  ,[BenAdd2] = @BenAdd2       
								  ,[BenAdd3] = @BenAdd3       
								  ,[City] = @City      
								  ,[State] = @State      
								  ,[Country] = @Country      
								  ,[ZipCode] = @ZipCode      
								  ,[OptFlag] = @OptFlag     
								  ,[IssuerCode] = @IssuerCode     
								  ,[PayBranch] = @PayBranch     
								  ,[FDFlag] = @FDFlag     
								  ,[MISCode] = @MISCode     
								  ,[PFlag] = @PFlag     
								  ,[RFlag] = @RFlag     
								  ,[UDT1] = @UDT1
								  ,[UDT2] = @UDT2
								  ,[UDT3] = @UDT3
						          ,[UDT4] = @UDT4
							 WHERE ([FILENAME] = @FNAME AND [AcctNo] = @AcctNo)             
    ELSE
	*/
    /* INSERT*/ 

						 INSERT INTO [dbo].[tbl_Detail]
								   ([FILENAME]
								   ,[RType]
								   ,[TType]
								   ,[AcctNo]
								   ,[BrCode]
								   ,[TCode]
								   ,[TDate]
								   ,[DCFlag]
								   ,[VDate]
								   ,[TCurr]
								   ,[AmtLCurr]
								   ,[AmtTCurr]
								   ,[ConvRate]
								   ,[RefNo]
								   ,[DocNo]
								   ,[TDesc]
								   ,[BenIC]
								   ,[BenName]
								   ,[BenAdd1]
								   ,[BenAdd2]
								   ,[BenAdd3]
								   ,[City]
								   ,[State]
								   ,[Country]
								   ,[ZipCode]
								   ,[OptFlag]
								   ,[IssuerCode]
								   ,[PayBranch]
								   ,[FDFlag]
								   ,[MISCode]
								   ,[PFlag]
								   ,[RFlag]
								   ,[UDT1]
								   ,[UDT2]
								   ,[UDT3]
								   ,[UDT4]
								   ,[ConvertedFlag] 
								   ,[PostedFlag]) 
							 VALUES
								   (@FNAME,
									@RType,
									@TType,
									@AcctNo,
									@BrCode,
									@TCode,
									@TDate,
									@DCFlag,
									@VDate,
									@TCurr,
									@AmtLCurr,
									@AmtTCurr,
									@ConvRate,
									@RefNo,
									@DocNo,
									@TDesc,
									@BenIC,
									@BenName,
									@BenAdd1,
									@BenAdd2,
									@BenAdd3,
									@City,
									@State,
									@Country,
									@ZipCode,
									@OptFlag,
									@IssuerCode,
									@PayBranch,
									@FDFlag,
									@MISCode,
									@PFlag,
									@RFlag,
									@UDT1,
									@UDT2,
									@UDT3,
									@UDT4,
									@ConvertedFlag,
									@PostedFlag)

GO
/****** Object:  StoredProcedure [dbo].[sp_AddUpdateFooter]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddUpdateFooter]

	(	 
	@FNAME char(50),
	@RType char(1),
	@NoDeb char(9),
	@DebCtr int,
	@TotalD char(15),
	@NoCre char(9),
	@CreCtr int,
	@TotalC char(15)
	)
	
AS
	IF EXISTS (SELECT  * FROM [dbo].[tbl_Footer] WHERE [FILENAME] = @FNAME)
    /* UPDATE*/ 
                      UPDATE [dbo].[tbl_Footer]
					   SET
						   [RType] = @RType 
						  ,[NoDeb] = @NoDeb 
						  ,[DebCtr] = @DebCtr 
						  ,[TotalD] = @TotalD 
						  ,[NoCre] = @NoCre 
						  ,[CreCtr] = @CreCtr 
						  ,[TotalC] = @TotalC 					 					 			
						WHERE ([FILENAME] = @FNAME)                           
    ELSE
    /* INSERT*/ 

	INSERT INTO [dbo].[tbl_Footer]
           ([FILENAME]
           ,[RType]
           ,[NoDeb]
           ,[DebCtr]
           ,[TotalD]
           ,[NoCre]
           ,[CreCtr]
           ,[TotalC])
     VALUES
           (
	       @FNAME, 
           @RType,
           @NoDeb, 
           @DebCtr, 
           @TotalD, 
           @NoCre, 
           @CreCtr,
           @TotalC)

GO
/****** Object:  StoredProcedure [dbo].[sp_AddUpdateHeader]    Script Date: 06/03/2026 8:21:01 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddUpdateHeader]

	(	 
	@FNAME char(50), 
	@Header char(50)
	)
	
AS
	IF EXISTS (SELECT  * FROM [dbo].[tbl_Header] WHERE [FILENAME] = @FNAME)
    /* UPDATE*/ 
                       UPDATE [tbl_Header]
                         SET  [Header] = @Header 							 			
						WHERE ([FILENAME] = @FNAME)                           
    ELSE
    /* INSERT*/ 
        INSERT INTO [tbl_Header]
              ([FILENAME], [Header], [Converted])
        VALUES 
              (@FNAME, @Header, 0)

GO
USE [master]
GO
